<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Americana</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <label for="">Ingrese su edad:</label>
            <input type="text" name="txtEdad">
            <button> Evaluar </button>
        </form>
    </div>
    <div class="container">
        {% if message %}
        {{ message }}
        {% endif %}
    
    </div>
</body>
</html>